@media (max-width: 1410px){
    /* price_section page design */
     .bey_container{
        & h1{
            margin-left: 0px;
            text-align: center;
        }
        & .bey_item{
            & .item_one{
                width: 490px;
            }
        }
    }
    .sell_container{

        & h1{
            margin-left: 0px;
            text-align: center;
        }
        & .sell_item{
            & .item_one{
                width: 490px;
            }
        }
    }
}



@media (max-width: 1245px) {

    /* header_section design */
    .nav_bar{
        display: none;
    }
    /* hero_section page design  */
    .hero_offerbox{
        width: 800px;
    }
    /* beysell_section page design */
    .beysell_section{

        & img{
            width: 700px;
        }
    }

}



@media (max-width: 1179px){
    /* features_section page design  */
    .features_container{
        & .border{
            border-top: none;
        }
        & .secured{
            grid-template-columns: auto  auto  auto ;
            & a{
                text-align: center;
            }
        }
    }
    /* price_section page design */
     .bey_container{
        & h1{
            margin-left: 0px;
            text-align: center;
        }
        & .bey_item{
            & .item_one{
                width: 450px;
            }
        }
    }
    .sell_container{

        & h1{
            margin-left: 0px;
            text-align: center;
        }
        & .sell_item{
            & .item_one{
                width: 450px;
            }
        }
    }
}



@media(max-width:1072px){
    /* price_section page design */
    .price_section{
        flex-direction: column;
        height: 1300px;
    }
    .price_section .border{
        display: none;
    }
    .bey_container{
        & h1{
            font-size: 40px;
            margin-bottom: 30px;
        }
        & .bey_item{
            & .item_one{
                width: 700px;
            }
        }
        & .bey_btn{
            margin-top: 30px;
        }
    }
    .sell_container{
        & h1{
            font-size: 40px;
            margin-bottom: 30px;
        }
        & .sell_item{
            & .item_one{
                width: 700px;
            }
        }
        & .bey_btn{
            margin-top: 30px;
        }
    }
}



@media (max-width: 800px) {
/* header_section design */
    .nav_bar{
        display: none;
    }
    /* hero_section page design  */
     .hero_offerbox{
        width: 600px;
    }
    /* features_section page design  */
    .features_section{
        height: 1400px;
    }
    .features_litle{
        
        & h1{
            font-size: 25px;
            text-align: center;
            font-weight: bold;
            color: #6c19ff;
        }
    }
   .features_container{
        margin-top: 60px;
        grid-template-columns: auto  ;
        & .secured{
            & a{
                text-align: center;
            }
        }
    }
    .features_btn{
        margin-top: 30px;
        margin-bottom: 30px;
    }

}



@media (max-width: 785px) {
    /* header_section design */
    header{
    width: 100vw;
    height: 105px;
   justify-content: space-around;
    }
    /* getstarted_section page design */
    .getstarted_title{

    & h1{
        font-size: 50px;
        text-align: center;
        
    }
}
}



@media (max-width: 770px){
    /* header section page design */
    .footer_contact{
        max-width: 100%;
        & .logo{
            & h1{
                font-size: 25px;
            }
        }

        & .product{
            & h2{
                font-size: 22px;
            }
            &  .product_option{
                & span{
                    font-size: 15px;
                }
            }
        }
    }
    .footer_about{
        & p{
            font-size: 15px;
            font-weight: 450;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}



@media (max-width: 705px) {
    /* header_section design */
    header{
        flex-direction: column;
        gap: 20px;
        padding-top: 10px;
        height: 150px;
    }
    /* hero_section design */
     .hero_offerbox{
        width: 500px;

        & .offerbox_input{
            & .input_one{
                width: 100%;
                /* gap: 10px; */
                & select{
                    width: 100px;
                    font-size: 17px;
                    padding: 0px 0px;
                }
            }
            & .input_two{
                flex-direction: column;
                gap: 20px;

                & input{
                    width: 100%;
                    font-size: 18px;
                }

                & button{
                    width: 100%;
                }
            }
        }
    }
      /* beysell_section page design */
    .beysell_section{
        & img{
            width: 500px;
        }
    }  
    /* price_section bar design */
    .bey_container{
        & .bey_item{
            & .item_one{
                max-width: 400px;
            }
        }
    }
    .sell_container{
        & .sell_item{
            & .item_one{
                max-width: 400px;
            }
        }
    }
}



@media (max-width: 600px){

    /* beysell_section page design */
    .beysell_section{
        & h1{
            font-size: 24px;
        }
        & img{
            width:400px ;
        }
    }
}